.logo {
    height: 3000
}
.logoIMG{
    text-shadow: none;
    color: rgb(255, 255, 255);
    height: 400;
    padding: 10px;
    position: relative;
    bottom: 15px;
    left: 20px;
}

.fixedTOP {
    position: fixed;
    top: 0;
}

.full-height
{
    min-height: 90vh !important;
}

.border
{
  border:5px solid #f57542;  
}
