<!DOCTYPE html>
<html lang="it">

<head>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/homepage.js"></script>    
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script src="/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatSuperCool</title>
    <style type="text/css">
        #container{
            padding: 5%;
            box-sizing: border-box;
            max-width: 90vw;
            min-width: 200px;
            margin-top: 5%;
        }
        #form{
            padding: 0;
            background-color: #EBEBF5;
        }
        #signup-tab {
            background-color: white;
            opacity: 0.50;
        }
        #signup-tab:hover{
            background-color: rgba(255, 254, 254, 0.726);
        }
        #form-signup{
            display: none;
        }
        .margine{
            margin-bottom: 15px;
        }
        .icon{
            margin:10px 0;
            color:#2962FF;
        }
        .margin-label-form{
            left: 2.75rem !important;
        }
        </style>
</head>

<body class="background">
    <nav class="nav-wrapper blue accent-4 navbar-fixed">
        <div>
            <a href="#!" id="brand-name">
                ChatSuperCool
            </a>
        </div>
    </nav>
    <div id="container" class="row">
        <div id="description" class="center-align col m6">
            <p><h3>UN NETWORK DOVE SCAMBIARE ATTIVAMENTE IDEE</h3>Lavora e scambia idee con i membri della chat.<br> Chiedi aiuto, cerca o proponi soluzioni con ChatSuperCool.</p>
        </div>
        <div id="form" class="z-depth-3 center-align offset-m1 col m5">
            <div id="form-header">
                <div id="login-tab" class="col s6 z-depth-1">
                    <h5>Login</h5>
                </div>
                <div id="signup-tab" class="col s6 z-depth-1">
                    <h5>Sign Up</h5>
                </div>
            </div>
            <div id="form-body">
                <form id="form-login" action='/login' method='POST'>
                    <div class="input-field col s12">
                        <i class="material-icons icon" style="float:left">person</i>
                        <div style="float:left">
                            <label class="margin-label-form" for="user-login">Username</label>
                            <input name="username" id="user-login" size="30" maxlength="20" type="text" minlength="5" class="validate">
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons icon" style="float:left">https</i>
                        <div style="float:left">
                            <input name="password" id="password-login" size="30" maxlength="100" type="password" minlength="5" class="validate">
                            <label class="margin-label-form" for="password-login">Password</label>
                        </div>
                    </div>
                    <% if (lError) { %>
                    <div class= 'col s12'>
                        <div class='card #90caf9 blue lighten-4'>
                            <div class="card-content red-text">
                                <span class="card-title"><b>Error</b></span>
                                <b><%= lError %></b>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="col s12 margine">
                        <div class="input-field inline">
                            <button class="btn waves-effect waves-light blue accent-4" type="submit">Log in</button>
                        </div>
                        <br>
                    </div>
                    <a href="./html/password_lost.html">I forgot my username or password.</a>
                    <div><br></div>
                </form>
                <form id="form-signup" action="/register" method="POST" class="row" style="margin-bottom: 0px;">
                    <div class="input-field col s12">
                        <i class="material-icons icon" style="float:left">person</i>
                        <div style="float:left">
                            <input name="username" id="username-signup"  type="text" size="30" maxlength="20" minlength="5" class="validate">
                            <label class="margin-label-form" for="username-signup">Username</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons icon" style="float:left">https</i>
                        <div style="float:left">
                            <input name="password" id="password-signup" type="password" size="30" maxlength="100" minlength="5" class="validate">
                            <label class="margin-label-form" for="password-signup">Password</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons icon" style="float:left">mail</i>
                        <div style="float:left">
                            <input name="email" id="email-signup" type="email" size="30" maxlength="30" class="validate">
                            <label class="margin-label-form" for="email-signup">Email</label>
                        </div>
                    </div>
                    <% if (rError) { %>
                    <script> showSignupTab() </script>
                    <div class= 'col s12'>
                        <div class='card #90caf9 blue lighten-3'>
                            <div class="card-content red-text">
                                    <span class="card-title"><b>Error</b></span>
                                    <b><%= rError %></b>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="col s12 margine">
                        <div class="input-field inline">
                        <button class="btn waves-effect waves-light margine blue accent-4" type="submit">Create account</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
