#brand-name{
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    /*color: #2b2b2b;*/
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    padding-top: 7px;
    -moz-animation-duration: 6s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -MS-animation-duration: 6s;
    -MS-animation-delay: 2s;
    -MS-animation-iteration-count: infinite;
    
    margin:3%;
}
#container{
    background-image:  linear-gradient(rgba(41, 98, 255, 0.322), white);
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.material-tooltip {
    width: 200px;
    word-break: break-all;
}

#div-main{
    margin-bottom: 0;
}

#chat{
    overflow-y: scroll;
    height:  calc(100vh - 218px);
    padding: 0 0;
}
#container-chat{
    height: calc(100vh - 64px);
    background-color: white;
    padding: 0 0;
}
#chat-input-bar{
    padding: 10px 10px 0px 10px;
    margin: 0 0;
    height: 90px;
    border: solid rgb(201, 201, 201) ;
    border-radius: 5px;
    border-width: 2px 0px 0px 0px;
}

#input-chat {
    font-size: 1.1rem;
    width: 85%;
    margin-right: 1%;
}

#confirm-topic{
    position: static;
    margin-top:50px;
    margin-left: calc(50% - 84px);
}

#button-extend{
    position: absolute !important;
    top: -5px;
    display: inline;
    margin: 0 0;
}
#list-chat{
    overflow-y: auto;
    height: calc(100vh - 64px);
    border: 0;
    z-index: 49;
}
@media (min-width: 768px) {
    #menu-profile{
        position: absolute;
        left: 0;
        display: none
    }}
#list-chat a{
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    
}
#chat ol{
    margin-bottom: 0;
}
#chat ol li .msg{
    border-radius: 10px;
    margin: 0 2px;
}
#chat ol li .msg p{
    font-family: "Roboto", sans-serif;
    font-size: medium;
}
#chat .self .msg{
    background-color: #f7f7f7;
    text-decoration-style: dashed;  
}
#chat .self .msg p{
    color: black;
}
#chat .other .msg{
    background-color: rgba(103, 144, 194, 0.63);
    text-decoration-style: dashed;
}
#input-chat::placeholder{
    color: rgb(61, 61, 61);
}
#avatar-chat-statebar{
    margin: 11px 7px;
    padding: 0 0;
    border-radius: 50%;
}
#btn-add-chat{
    position: absolute;
    bottom: 1%;
    right: 10%;
    z-index: 49;
}
#div-chat-list{
    position: relative;
}
@media (max-width: 600px){
    /*.mobile-list{display:inherit}
    .mobile-chat{display:none}*/
    #container-chat{height: 100vh;}
    #chat{height: calc(100vh - 218px + 71px);}
    
}
@media (min-width: 600px){
    /*.mobile-list{display:inherit}
    .mobile-chat{display:inherit}*/
    
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
#name-chat-statebar{
    width: 57%;
    white-space: nowrap;
    overflow: hidden;
}
#div-create-new-chat{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: white;
    border-radius: 20%;
    z-index: 50;
    display: none;
    width: 80%;
    /*animation-name: showAddChat;
    animation-duration: 1s;
    padding: 2% 1%;*/
}
@keyframes showAddChat{
    from {bottom: -300%; opacity: 0}
    to {bottom: 5%; opacity: 1}
}
.fade a.show {
    animation-name: showAddChat;
    animation-duration: 1s;
}
@keyframes showNewChat{
    from {top: -300%; opacity: 0; background-color: blue}
    to {top: 0; opacity: 1; background-color: inherit}
}